#grid-1 {
  display: grid;
  grid-template-columns: 50px 1fr 2fr;
  background-color: aqua;
  width: 50vw; 
}
#a{
    background-color: blue;
}
#b{
    background-color: bisque;
}
#c{
    background-color: blueviolet;
}
#d{
    background-color: yellow;
}
#e{
    background-color: yellowgreen;
}
